<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igrs.tivic.phone"
    android:versionCode="15"
    android:versionName="phone_21224_20130314_1.0.1.015" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:name=".Global.AppContext"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity 
            android:name=".Activity.ContentsActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name=".Activity.VideoPlayActivity"
            android:screenOrientation="landscape"
            ></activity>
        <activity
            android:name=".Activity.GuideActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.EPGActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.WaterfallActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.ContentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.UGCActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.BaseSubnailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SubnailStyle" >
        </activity>
        <activity
            android:name=".Activity.MyTVActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.PushTVActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.UGCPublishActivity"
            android:screenOrientation="portrait" 
            >
        </activity>
        <activity
            android:name=".Activity.SocialBaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".Activity.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.SearchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".Activity.UGCJumptActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.LoginRegistrationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.LoginFindpwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.LoginFindpwdMailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.LoginFindpwdPhoneActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.ContentPublishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".Activity.LoginRegistrationValidationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.LoginRegistrationBaseInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.LoginRegistrationInterested3Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activity.LoginRegistrationInterestedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Activity.LoginRegistrationSystemAvaterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.LoginRegistedSuccessActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.LoginRegistrationMailValidationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.LoginRegistrationPhoneValidationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activity.LoginDialogActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activity.FeedBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activity.SettingModifyPwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <receiver android:name=".Activity.AppWidgetMain" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <service android:name=".Service.RefreshDataService" />

        <activity
            android:name=".Activity.SocialSystemIconActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".Activity.SocialPhotoBrowseActivity" >
        </activity>
        <activity
            android:name=".Activity.ScreenShotActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 以下是友盟SDK内嵌统计升级用户反馈等功能 -->
        <activity
            android:name="com.umeng.fb.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard" />

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5110a48a527015686c000013" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>

</manifest>